<a href="https://colab.research.google.com/github/manik910/Python-practice/blob/main/inner_join_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
df = pd.read_csv('Salary.csv')
df2 = pd.read_csv('Salary2.csv')
print(df)
inn_join = pd.merge(df, df2, on = "Age", how = "inner")
inn_left = pd.merge(df, df2, on = "Gender", how = "left")
print()
print(inn_join.head())
print()
print(inn_left.head())

/tmp/ipython-input-614317650.py:3: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('Salary2.csv')

       Age  Gender    Education Level              Job Title  \
0     32.0    Male         Bachelor's      Software Engineer
1     28.0  Female           Master's           Data Analyst
2     45.0    Male                PhD         Senior Manager
3     36.0  Female         Bachelor's        Sales Associate
4     52.0    Male           Master's               Director
...    ...     ...                ...                    ...
6699  49.0  Female                PhD  Director of Marketing
6700  32.0    Male        High School        Sales Associate
6701  30.0  Female  Bachelor's Degree      Financial Manager
6702  46.0    Male    Master's Degree      Marketing Manager
6703  26.0  Female        High School        Sales Executive

      Years of Experience    Salary
0                     5.0   90000.0
1                     3.0   65000.0
2                    15.0  150000.0
3                     7.0   60000.0
4                    20.0  200000.0
...                   ...       ...
6699                 20.0  200000.0
6700                  3.0   50000.0
6701                  4.0   55000.0
6702                 14.0  140000.0
6703                  1.0   35000.0

[6704 rows x 6 columns]

    Age Gender_x Education Level_x        Job Title_x  Years of Experience_x  \
0  32.0     Male        Bachelor's  Software Engineer                    5.0
1  32.0     Male        Bachelor's  Software Engineer                    5.0
2  32.0     Male        Bachelor's  Software Engineer                    5.0
3  32.0     Male        Bachelor's  Software Engineer                    5.0
4  32.0     Male        Bachelor's  Software Engineer                    5.0

   Salary_x Gender_y Education Level_y               Job Title_y  \
0   90000.0     Male        Bachelor's         Software Engineer
1   90000.0     Male        Bachelor's           Account Manager
2   90000.0     Male          Master's  Senior Software Engineer
3   90000.0     Male          Master's   Senior Business Analyst
4   90000.0   Female        Bachelor's     Marketing Coordinator

   Years of Experience_y  Salary_y  Order_Id Customer_Name  Customer_Id  \
0                    5.0   90000.0      1023         Venki           15
1                    5.0   75000.0      1069        Partha            8
2                    6.0  100000.0      1100        Balaji           12
3                    6.0   90000.0      1136         Veeru            3
4                    4.0   50000.0      1151         Mohan           24

             Product_Name  Salary.1
0        27in FHD Monitor     90000
1      Samsung Galaxy S20     75000
2         ThinkPad Laptop    100000
3                iPhone 8     90000
4  Samsung Galaxy S9 Plus     50000

   Age_x Gender Education Level_x        Job Title_x  Years of Experience_x  \
0   32.0   Male        Bachelor's  Software Engineer                    5.0
1   32.0   Male        Bachelor's  Software Engineer                    5.0
2   32.0   Male        Bachelor's  Software Engineer                    5.0
3   32.0   Male        Bachelor's  Software Engineer                    5.0
4   32.0   Male        Bachelor's  Software Engineer                    5.0

   Salary_x  Age_y Education Level_y        Job Title_y  \
0   90000.0   32.0        Bachelor's  Software Engineer
1   90000.0   45.0               PhD     Senior Manager
2   90000.0   52.0          Master's           Director
3   90000.0   29.0        Bachelor's  Marketing Analyst
4   90000.0   31.0        Bachelor's      Sales Manager

   Years of Experience_y  Salary_y  Order_Id Customer_Name  Customer_Id  \
0                    5.0   90000.0      1023         Venki           15
1                   15.0  150000.0      1025        Shahid           20
2                   20.0  200000.0      1027          Venu           23
3                    2.0   55000.0      1028        Daniel            6
4                    4.0   80000.0      1030         Shafi           25

                 Product_Name  Salary.1
0            27in FHD Monitor     90000
1  Bose SoundSport Headphones    150000
2                Google Phone    200000
3      Samsung Galaxy S9 Plus     55000
4            27in FHD Monitor     80000

In [24]:
import pandas as pd
df = pd.read_csv('Salary.csv')
df2 = pd.read_csv('Salary2.csv')
print(df)
inn_join = pd.merge(df, df2, on = "Job Title", how = "inner")

print()
print(inn_join.head())
print()

/tmp/ipython-input-2356904727.py:3: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('Salary2.csv')

       Age  Gender    Education Level              Job Title  \
0     32.0    Male         Bachelor's      Software Engineer
1     28.0  Female           Master's           Data Analyst
2     45.0    Male                PhD         Senior Manager
3     36.0  Female         Bachelor's        Sales Associate
4     52.0    Male           Master's               Director
...    ...     ...                ...                    ...
6699  49.0  Female                PhD  Director of Marketing
6700  32.0    Male        High School        Sales Associate
6701  30.0  Female  Bachelor's Degree      Financial Manager
6702  46.0    Male    Master's Degree      Marketing Manager
6703  26.0  Female        High School        Sales Executive

      Years of Experience    Salary
0                     5.0   90000.0
1                     3.0   65000.0
2                    15.0  150000.0
3                     7.0   60000.0
4                    20.0  200000.0
...                   ...       ...
6699                 20.0  200000.0
6700                  3.0   50000.0
6701                  4.0   55000.0
6702                 14.0  140000.0
6703                  1.0   35000.0

[6704 rows x 6 columns]

   Age_x Gender_x Education Level_x          Job Title  Years of Experience_x  \
0   32.0     Male        Bachelor's  Software Engineer                    5.0
1   32.0     Male        Bachelor's  Software Engineer                    5.0
2   32.0     Male        Bachelor's  Software Engineer                    5.0
3   32.0     Male        Bachelor's  Software Engineer                    5.0
4   32.0     Male        Bachelor's  Software Engineer                    5.0

   Salary_x  Age_y Gender_y Education Level_y  Years of Experience_y  \
0   90000.0   32.0     Male        Bachelor's                    5.0
1   90000.0   28.0   Female        Bachelor's                    3.0
2   90000.0   29.0   Female        Bachelor's                    4.0
3   90000.0   31.0   Female        Bachelor's                    6.0
4   90000.0   29.0   Female        Bachelor's                    4.0

   Salary_y  Order_Id Customer_Name  Customer_Id        Product_Name  Salary.1
0   90000.0      1023         Venki           15    27in FHD Monitor     90000
1  125000.0      1399        Shahid           20            iPhone 8     51999
2  140000.0      1403        Daniel            6  LG Washing Machine     75999
3  155000.0      1407        Shahid           20            iPhone 9     63000
4  140000.0      1411        Daniel            6        Google Phone     51999